<div class="container">
  <mat-card class="custom-card">
    <mat-card-title class="custom-card-title">
      <div *ngIf="!isEditing">Add Gateway</div>
      <div *ngIf="isEditing">Edit Gateway</div>
    </mat-card-title>

    <mat-card-content>
      <form [formGroup]="gatewayForm" class="gateway-form">
        <div class="mdc-layout-grid__inner">
          <div class="main-panel mdc-layout-grid__cell mdc-layout-grid__cell--span-9 mdc-layout-grid__inner">
            <mat-form-field
              class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
              <mat-label i18n>Gateway Name</mat-label>
              <input matInput formControlName="name" required>
              <mat-error *ngIf="gatewayForm.get('name').hasError('required')">
                Gateway Name field is required.
              </mat-error>
            </mat-form-field>
            <mat-form-field
              class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
              <mat-label i18n>Gateway IPv4 Address</mat-label>
              <input matInput formControlName="ipAddress" required>
              <mat-error *ngIf="gatewayForm.get('ipAddress').hasError('required')">
                Gateway IPv4 field is required.
              </mat-error>
              <mat-error
                *ngIf="!gatewayForm.get('ipAddress').hasError('required') && gatewayForm.get('ipAddress').invalid">
                Invalid IPv4 Address.
              </mat-error>
            </mat-form-field>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
              <mat-card class="custom-card mat-elevation-z0">
                <mat-card-title class="custom-card-title">Gateway Devices</mat-card-title>
                <mat-card-content>
                  <mat-table [dataSource]="deviceDatasource">

                    <ng-container matColumnDef="uid">
                      <mat-header-cell *matHeaderCellDef i18n> Device UID</mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="UID">
                        <span>{{ row.uid }}</span>
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="vendor">
                      <mat-header-cell *matHeaderCellDef i18n> Vendor</mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="Vendor">
                        <span>{{ row.vendor }}</span>
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="createdDate">
                      <mat-header-cell *matHeaderCellDef i18n> Created Date</mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="Devices">
                        <span>{{ row.createdDate | date:'longDate'}}</span>
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="status">
                      <mat-header-cell *matHeaderCellDef i18n>Status</mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="Status">
                        <span class="green" [class.red]="row.status === 0">{{statusEnum[row.status]}}
                        </span>
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="remove">
                      <mat-header-cell *matHeaderCellDef i18n></mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="remove">
                        <mat-icon style="cursor: pointer;" (click)="removeDevice(row.uid)">delete</mat-icon>
                      </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="devicesColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; let even = even; columns: devicesColumns" [ngClass]="{ gray: even }">
                    </mat-row>
                  </mat-table>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="edit-actions mdc-layout-grid__cell mdc-layout-grid__cell--span-12">

              <button mat-flat-button type="button" routerLink="/gateway" style="background: #c3c3c3;color: #404040;">
                Cancel
              </button>
              <button mat-flat-button type="button" *ngIf="!isEditing" (click)="addGateway()"
                      [disabled]="gatewayForm.invalid"
                      color="primary">Add Gateway
              </button>
              <button mat-flat-button type="button" *ngIf="isEditing" (click)="editGateway()"
                      [disabled]="gatewayForm.invalid"
                      color="primary">Edit Gateway
              </button>

            </div>
          </div>
          <div
            class="device-panel mdc-layout-grid__cell mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone mdc-layout-grid__cell--span-3">
            <h3 style="margin: 0">Add new device</h3>
            <mat-error *ngIf="gatewayDevices.length === 10" style="font-size: 75%;">No more that 10 peripheral devices
              are allowed.
            </mat-error>
            <form [formGroup]="deviceForm">
              <div class="mdc-layout-grid__inner">
                <mat-form-field
                  class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9">
                  <mat-label i18n>Device UID</mat-label>
                  <input type="number" matInput formControlName="uid" [readonly]="gatewayDevices.length === 10"
                         required>
                </mat-form-field>
                <mat-form-field
                  class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9">
                  <mat-label i18n>Device Vendor</mat-label>
                  <input matInput formControlName="vendor" [readonly]="gatewayDevices.length === 10" required>
                </mat-form-field>
                <mat-form-field
                  class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9">
                  <mat-label i18n>Created Date</mat-label>
                  <input matInput [matDatepicker]="createdDate" placeholder="Created Date" [max]="todayDate"
                         formControlName="createdDate" [disabled]="gatewayDevices.length === 10" required>
                  <mat-datepicker-toggle matSuffix [for]="createdDate"></mat-datepicker-toggle>
                  <mat-datepicker #createdDate></mat-datepicker>
                </mat-form-field>
                <mat-form-field
                  class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9">
                  <mat-label i18n>Status</mat-label>
                  <mat-select formControlName="status" [disabled]="gatewayDevices.length === 10" required="">
                    <mat-option *ngFor="let selectedStatus of status" [value]="selectedStatus.value"
                                [title]="selectedStatus.status">
                      {{ selectedStatus.status}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div style="display: flex; justify-content: flex-end;margin-top: 2rem">
                <button mat-flat-button type="button" (click)="addDevice()"
                        [disabled]="deviceForm.invalid || gatewayDevices.length === 10"
                        color="primary">Add Device
                </button>
              </div>
            </form>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
