@import "../styles";

.toolbar {
  box-shadow: 0 0.1rem 0.9rem rgba(0, 0, 0, .9);
  position: fixed;
  z-index: 2;

}

.footer {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  //background: #3f51b5;
  //color: white;
  align-items: center;
  font-size: 1.4rem;
  line-height: normal;
  &__logo-box {
    display: flex;
    align-items: center;
    span {
      margin-left: 2rem;
    }
  }
  a:visited, a:link {
    color: currentColor;
    text-decoration: none;
  }
}

.app-content {
  min-height: 92.3%;
}
