<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar class="toolbar" color="primary">
  <div class="logo__container">
    <img class="logo" src="assets/img/gateway-icon.png" width="45px">
    <span class="toolbar__text" routerLink="/">Gateway App</span>
  </div>
</mat-toolbar>
<div class="app-content">
  <router-outlet></router-outlet>
</div>
<footer class="footer color-primary">
  <div class="footer__logo-box">
    <span>Gateway App &reg;</span>
  </div>
  <div class="footer__text">
    <p class="footer__copyright" i18n>
      Created by <a href="#" class="footer__link">Orlando Sierra</a> for job applications. &copy; 2020
    </p>
  </div>
</footer>
