/* You can add global styles to this file, and also import other style files */
@import "~@material/layout-grid/mdc-layout-grid";
@import "gateway-theme";
@import 'styles/index';
@import 'styles/reset';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

//.color-primary {
//  color: mat-color($primary);
//}
//
//.color-accent {
//  color: mat-color($accent);
//}
