<header class="header">
  <div class="header__headline">
    <h1 class="header__title" i18n>Gateway Managing Projects</h1>
    <span class="header__subtitle" i18n>Front End Practical Task</span>
  </div>
  <div class="header__btn">
    <button mat-raised-button color="primary" routerLink="/gateway" i18n>Go to Gateways</button>
  </div>
</header>

<div class="content">
  <div class="content__bank">
    <div class="content__bank-image">
      <img src="assets/img/gateway-icon.png">
    </div>
    <div class="content__bank-text">
      <h2 i18n>View List of Gateways</h2>
      <p i18n>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut commodi dignissimos enim, explicabo
        laudantium
        magni.
      </p>
    </div>
  </div>
  <div class="content__bank content__bank-reverse">
    <div class="content__bank-image">
      <img src="assets/img/description.svg">
    </div>
    <div class="content__bank-text">
      <h2 i18n>Details of each Gateway</h2>
      <p i18n>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut commodi dignissimos.
      </p>
    </div>
  </div>
  <div class="content__bank">
    <div class="content__bank-image">
      <img src="assets/img/devices.svg">
    </div>
    <div class="content__bank-text">
      <h2 i18n>View List of Peripheral Devices </h2>
      <p i18n>Molestiae nemo obcaecati officia pariatur perferendis placeat quibusdam quisquam reiciendis repellendus
        sed
        tempora tempore voluptate.</p>
    </div>
  </div>
</div>
